@import "tailwindcss";


:root {
  --color-main: #001f3f;
  --color-main-light: #002D57;
  --color-main-dark: #001223;
}

@layer components {
  .bg-project {
    @apply bg-radial-[circle_at_center] from-[var(--color-main-light)] via-[var(--color-main)] to-[var(--color-main-dark)];
  }

  .btn-primary {
    @apply
    px-4 py-1.5 rounded-md text-white 
    border border-[var(--color-main-light)]
    bg-[var(--color-main-light)]
    brightness-160 transition duration-200 
    hover:brightness-180 
  }
}